thesis.aux
thesis.aux
thesis.bbl
thesis.bcf
thesis.blg
thesis.dvi
thesis.log
thesis.pdf
thesis.run.xml
thesis.synctex.gz
thesis.toc
.vscode/ltex.hiddenFalsePositives.en-US.txt
.vscode/ltex.dictionary.en-US.txt
thesis.aux
thesis.bbl
thesis.bcf
thesis.blg
thesis.lof
thesis.log
thesis.lot
thesis.pdf
thesis.synctex.gz
thesis.toc
todo.md
thesis.pdf
thesis.out
.vscode/ltex.dictionary.en-GB.txt
.vscode/ltex.hiddenFalsePositives.en-GB.txt
.vscode/ltex.disabledRules.en-GB.txt
.vscode/ltex.dictionary.en-GB.txt
.vscode/ltex.dictionary.en-GB.txt
csv/morphometry-features.tsv
.vscode/ltex.dictionary.en-GB.txt
thesis.pdf
